.nav_parent {
  display: flex;
  height: fit-content;
  position: relative;
}

.nav_hamburger {
  color: white;
  margin: auto 0;
  position: absolute;
  top: 5px;
  left: 5px;
}

.nav_title {
  color: white;
  margin: auto;
}
.nav_title * {
  text-shadow: 2px 2px black;
}
